body {
    font-family: Arial, sans-serif;
    background-color: #aa6bca;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.cartao {
    background-color: rgb(221, 221, 221);
    border-radius: 50px;
    box-shadow: 0 8px 30px rgb(111, 30, 155);
    padding: 20px;
    text-align: center;
    width: 300px;
}

.foto {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

h2 {
    margin: 10px 0;
}

h3 {
    color: #555;
    margin: 5px 0;
}

.botoes {
    margin-top: 15px;
}

.botao {
    background-color: rgb(136, 97, 161);
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 5px;
    transition: background-color 0.3s;
}

.botao:hover {
    background-color: rgb(71, 25, 99);
}

h4 {
    padding: 20px;
    font-size: 16px;
    text-align: center;
}

.voltar {
    font-size: 20px;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 19px;
    text-decoration: none;
    color:rgb(41, 41, 41);
    transition: 450ms ease-in-out;

}

hover a {
    transition: 500ms ease-in-out;
    color: pink;
}
